<ul>
  <% @projects.each do |project| %>
      <li><%= project.title %></li>
      <li><%= project.description %></li>
      <li><%= project.url %></li>
      <li><%= project.urlgithub %></li>
      <li><%= link_to 'Show', project %></li>
      <li><%= link_to 'Edit', edit_project_path(project) %></li>
      <li><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></li>
  <% end %>
</ul>