<%= form_for [:admin, @project] do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form__item">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form__item">
      <%= f.label :cover %>
      <%= f.file_field :cover %>
  </div>

  <div class="form__item">
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>

  <div class="form__item">
    <%= f.label :infos %>
    <%= f.text_area :infos %>
  </div>

  <div class="form__item">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>
 
  
  <div class="form__submit align-right">
    <%= f.submit %>
  </div>
<% end %>