<div class="row">
    <h1>Listes projects</h1>
    <%= link_to "New project", new_admin_project_path, :class => "btn" %>

    <ul class="list">
        <% @projects.each do |project| %>
            <li class="list__item">
                <div class="list__picture">
                    <%= image_tag project.cover.url(:medium), :alt => "", :class => "picture" %>
                </div>
                <div class="list__txt">
                    <%= link_to project.title, project.url %>
                    <small><%= raw project.infos %></small>
                    <span class="list__tags"><%= project.tags %></span>
                    <div class="list__actions">
                        <%= link_to "Edit", edit_admin_project_path(project) %>
                        <%= link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
            </li>
        <% end %>    
    </ul>
    
</div>