<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<div class="toolbar toolbar-top">
  <%= link_to 'Back', admin_projects_path, :class => "lnk-back" %> |
  <%= link_to 'Edit', edit_admin_project_path(@project) %>
  
</div>
<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Urlgithub:</b>
  <%= @project.urlgithub %>
</p>
<p>
  <b>Tags:</b>
  <%= @project.tags.map { |t| t.name }.join(", ") %>
</p>
<p>
  <b>Publish:</b>
  <%= @project.publish %>
</p>
<p>
  <b>Demo:</b>
  <%= @project.demo %>
</p>
<div class="toolbar toolbar-bottom">
  <%= link_to 'Back', admin_projects_path, :class => "lnk-back" %> |
  <%= link_to 'Edit', edit_admin_project_path(@project) %>
</div>

