<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <title>Claire Sosset - Admin</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="favicon.png" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <section role="main">
        <%= yield %>    
    </section>

    <%= javascript_include_tag "admin/admin", "data-turbolinks-track" => true %>
    
</body>
</html>
