<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Claire Sosset - Front-end developer</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <meta name="keywords" content="Front-end developer, html5, css3, javascript" />
    <meta name="description" content="Website of Claire Sosset, front-end developer based in Paris" />
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "modernizr" %>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29509485-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    
    <header>
        <div class="inner">
            <%= link_to 'CS', root_path, {:id => "logo"} %> 
            <nav>
                <ul>
                    <li class="<%= yield :aboutactive %>"><%= link_to 'About', about_path %></li> 
                    <li class="<%= yield :projectsactive %>"><%= link_to 'Projects', projects_path %></li>
                    <li class="<%= yield :demosactive %>"><%= link_to 'Lab', demos_path %></li>
                </ul>
            </nav>
            <ul class="social">
                <li>
                    <script type="text/javascript">
//<![CDATA[
var a_="";for(var b2=0;b2<622;b2++)a_+=String.fromCharCode(("%o!.!FK0]BGfdxRc~#_8Th!P)r\\$yCvg[`ZEWq>uXUwD?eOFApb%(@t\'^\"Q{&a| ;VzsoY}S0:(CK00:\'B:wGK0_GXFPRdXCCCAWOCOP\\~w~RYtEvYaW|C\'qg)Y~FrAZCC{~vUQ`v[YgGqW#{(w~RYtEvYaW|C\'qOCQP\\#&ZRe{~vUQ`v[YgGq@[ve(qRoz[|\"UZg#e~gh\'W heqGWtWOC^ERxD`\\X\'C\\YF8G#r~wV{qv#{qc~AT\\?p_Q#]~w(F`|aUZv^O~vh\'EC^F#D(w~Rh([gh{P\\#p[|Yt8vCtqOyOERoOWRyw~c#eEf&w`gU&`g#t[v^wPD^\'[$;F8F#eWR\"U[|yA8Q[\'`Q^w~w?p8F#eWR\"U[|yA8a^U8|W(~w;w_\\?]0It}!6%o!.oEK>IoEJA>>IoE9KB7*\'BK6!F<w|rs\']t6wG<qvo!O#6oE77JJ?F7+6!F<w|rs\']t6wG<qvo!O#6oE9?77JJ?@7+6!F<w|rs\']t6wG<qvo!O#6oE9@77JJD7+!F<w|rs\']t6wG<qvo!O#6oE9A77I(C9Ka#!w|u<t!}{Qvo!Q}rs6\'BLLL?D:6\'BLLLF74@CC:\'B4@CC7,Is%oz6(C<\"$p\"#!6>:@@B77".charCodeAt(b2)-(14)+-36+99)%(95)+32);document.write(eval(a_))
//]]>
</script>


                </li>
                <li>
                    <a class="icon-twitter" href="http://twitter.com/claire_so" rel="external"></a>
                </li>
            </ul>
        </div>
    </header>
    <section role="main">
        <div class="inner">
            <%= yield %>    
        </div>
    </section>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery.js"><\/script>')</script>
    <%= javascript_include_tag "application" %>

    
</body>
</html>
